<%- include ('common/header') %>
    <!--Edit Task Container -->
    <div class="all-tasks" data-list-display-container>
        <h2 class="task-list-title">Edit Task</h2>
        
        <form action="/lists/<%=data.task.list_id%>/tasks/<%=data.task.task_id%>" id="newListForm" method="POST" id="newTaskForm" data-edit-task>

            <input type="text" id="input-updated-task" class="edit" placeholder="Edit Task Name" data-updated-task-name required="true" name="task_name" value="<%=data.task.task_name%>">
            <!-- <div class="delete-stuff-priority">
                <button class="btn add" id="add-task-priority" data-add-task-priority type="submit">Update</button>
            </div>       -->

       </form>
      

       <a href="/lists/<%=data.task.list_id%>/tasks" class="btn" id="back-task" data-back-list-button>Back</a>
    </div>
    
    <%- include ('common/footer') %>