<%- include ('common/header') %>

    <div class="all-tasks tasks form" data-tasks-priority id="priority">
        <h2 class="task-list-title">Edit priority Task</h2>
        <div class="tasks form" data-tasks-priority id="priority">
      
       <form action="/lists/<%=data.task.list_id%>/tasks/<%=data.task.task_id%>/priority" method="post">
            Note: <br> <textarea name="note" id="noteText" cols="62" rows="10"placeholder="Write something" data-note-text><%=data.task.note%>
            </textarea></br>


            Date: <input type="date" name="date" id="date" data-date-priority> <br>

            Priority: <select name="select" id="select" data-select-priority>
                <option value="none">None</option>
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
        </div>
        <button class="btn add" id="add-task-priority" data-add-task-priority type="submit">Update</button>
    </form>

      <a href="/lists/<%=data.task.list_id%>/tasks" class="btn" id="back-task" data-back-list-button>Back</a>
    </div>
    <%- include ('common/footer') %>


   