<%- include ('common/header') %>

    <div class="all-tasks tasks form" data-tasks-priority id="priority">
        <h2 class="task-list-title">Priority Task</h2>
        Note: <br> <textarea name="note" id="noteText" cols="62" rows="10" placeholder="Write something" data-note-text  disabled><%=data.task.note%></textarea></br>

        <ul class="tasks list-group list-group-flush">
            <li class="list-group-item"><strong>Date: </strong> <%=data.task.task_scheduled%></li>
          <li class="list-group-item">
            <strong>Priority:</strong>
                <% if (data.task.priority == '1') { %>
                    Low
                <% } else if ( data.task.priority == '3') { %>
                    High
                <% } else if (data.task.priority == '2') {%>
                    Medium
                <%} else{ %> 
                    None
                <%}%>
          </li> 
      </ul>
      <a href="/lists/<%=data.task.list_id%>/tasks/<%=data.task.task_id%>/priority/edit" class="btn" id="back-task" data-back-list-button>Edit</a>

      <a href="/lists/<%=data.task.list_id%>/tasks" class="btn" id="back-task" data-back-list-button>Back</a>
    </div>

    <%- include ('common/footer') %>


   